.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    text-decoration: none;
}

.pagination a.active,
.pagination a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}